<%
#Locals
# => small: boolean flag
# => mesh: filepath of image
# => is_mesh: boolean flag indicating if mesh or incorrect_bbox

small_class = small ? 'small' : ''
canvasid = mesh[0..-6]
is_mesh = is_mesh
%>

<div class="viewport-wrap <%=small_class%>">
  <% if is_mesh then %>
    <canvas class="viewport <%=small_class%>" id="<%=canvasid%>" width="400" height="300"></canvas>
    <div class="loading"><%=image_tag "loading.gif"%></div>
  <% else %>
    <div class="body"><br><br><br><br><br><br><span style="font-weight:bold" align="center">Wrong or Invisible<br>bounding box</span><br><br></div>
  <% end %>
</div>
